{% extends "base.html" %}
{% block title %}
Курс прикладной информатики для студентов групп "Маркшейдерское дело"
{% endblock %}

{% block style %}
{% include "inc_style.html" %}
{% endblock %}

{% block header %}
{% include "inc_header.html" %}
{% endblock %}

{% block content_header %}
{% endblock %}

{% block sidebar %}
{% include "inc_sidebar.html" %}
{% endblock %}

{% block content %}
<div>
    <a href="/update_group/?id={{id}}">Изменить группу</a>
</div>

<br>
<br>

<div>
    <h1>Преподаватель группы "{{name}}"</h1>
        {{teacher.__str__()}}
    <br>
    <h1>Список студентов в группе "{{name}}"</h1>
    {% for student in students %}
    <li>
        {{student.__str__()}}
    </li>
    {% endfor %}
</div>
{% endblock %}

{% block content_footer %}
{% endblock %}

{% block footer %}
{% include "inc_footer.html" %}
{% endblock %}