<div id="content">
    <!-- insert the page content here -->
    <h1>Лекции по дисциплине "Прикладная информатика"</h1>
    <p>Здесь представленны темы и ссылки на актуальные конспекты лекций по дисциплине.</p>

    <h2>Лекция 1. Введение. Числа. Булевы переменные</h2>
    <h3>
        <a href="https://github.com/Ratven666/Applied_Informatics_2022/blob/master/%D0%9B%D0%B5%D0%BA%D1%86%D0%B8%D0%B8/%D0%9B%D0%9A%201.%20%D0%92%D0%B2%D0%B5%D0%B4%D0%B5%D0%BD%D0%B8%D0%B5.%20%D0%A7%D0%B8%D1%81%D0%BB%D0%B0.%20%D0%91%D1%83%D0%BB%D0%B5%D0%B2%D1%8B%20%D0%BF%D0%B5%D1%80%D0%B5%D0%BC%D0%B5%D0%BD%D0%BD%D1%8B%D0%B5.ipynb">
            Введение. Числа. Булевы переменные</a></h3>

    <h2>Лекция 2. Операторы. Ветвления. Цикл while</h2>
    <h3>
        <a href="https://github.com/Ratven666/Applied_Informatics_2022/blob/master/%D0%9B%D0%B5%D0%BA%D1%86%D0%B8%D0%B8/%D0%9B%D0%9A%202.1.%20%D0%9E%D0%BF%D0%B5%D1%80%D0%B0%D1%82%D0%BE%D1%80%D1%8B.ipynb">
            Операторы</a></h3>
    <h3>
        <a href="https://github.com/Ratven666/Applied_Informatics_2022/blob/master/%D0%9B%D0%B5%D0%BA%D1%86%D0%B8%D0%B8/%D0%9B%D0%9A%202.2.%20%D0%92%D0%B5%D1%82%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F.ipynb">
            Ветвления</a></h3>
    <h3>
        <a href="https://github.com/Ratven666/Applied_Informatics_2022/blob/master/%D0%9B%D0%B5%D0%BA%D1%86%D0%B8%D0%B8/%D0%9B%D0%9A%202.3.%20%D0%A6%D0%B8%D0%BA%D0%BB%20While.ipynb">
            Цикл while</a></h3>

    <h2>Лекция 3. Цикл for. Коллекции</h2>
    <h3>
        <a href="https://github.com/Ratven666/Applied_Informatics_2022/blob/master/%D0%9B%D0%B5%D0%BA%D1%86%D0%B8%D0%B8/%D0%9B%D0%9A%203.1.%20%D0%A6%D0%B8%D0%BA%D0%BB%20For.ipynb">
            Цикл for</a></h3>
    <h3>
        <a href="https://github.com/Ratven666/Applied_Informatics_2022/blob/master/%D0%9B%D0%B5%D0%BA%D1%86%D0%B8%D0%B8/%D0%9B%D0%9A%203.2.%20%D0%9A%D0%BE%D0%BB%D0%BB%D0%B5%D0%BA%D1%86%D0%B8%D0%B8.ipynb">
            Коллекции</a></h3>
    <h3>
        <a href="https://github.com/Ratven666/Applied_Informatics_2022/blob/master/%D0%9B%D0%B5%D0%BA%D1%86%D0%B8%D0%B8/%D0%9B%D0%9A%203.3.%20%D0%9A%D0%BE%D0%BB%D0%BB%D0%B5%D0%BA%D1%86%D0%B8%D0%B8.%20%D0%98%D0%BD%D0%B4%D0%B5%D0%BA%D1%81%D1%8B.%20%D0%A1%D1%80%D0%B5%D0%B7%D1%8B.%20%D0%A1%D0%BE%D1%80%D1%82%D0%B8%D1%80%D0%BE%D0%B2%D0%BA%D0%B0.ipynb">
            Коллекции. Индексы. Срезы. Сортировка</a></h3>
    <h3>
        <a href="https://github.com/Ratven666/Applied_Informatics_2022/blob/master/%D0%9B%D0%B5%D0%BA%D1%86%D0%B8%D0%B8/%D0%9B%D0%9A%203.4.%20%D0%9A%D0%BE%D0%BB%D0%BB%D0%B5%D0%BA%D1%86%D0%B8%D0%B8.%20%D0%9E%D0%B1%D1%8A%D0%B5%D0%B4%D0%B8%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%BA%D0%BE%D0%BB%D0%BB%D0%B5%D0%BA%D1%86%D0%B8%D0%B9%2C%20%D0%B4%D0%BE%D0%B1%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%B8%20%D1%83%D0%B4%D0%B0%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5%20%D1%8D%D0%BB%D0%B5%D0%BC%D0%B5%D0%BD%D1%82%D0%BE%D0%B2..ipynb">
            Коллекции. Объединение коллекций, добавление и удаление элементов</a></h3>
    <h3>
        <a href="https://github.com/Ratven666/Applied_Informatics_2022/blob/master/%D0%9B%D0%B5%D0%BA%D1%86%D0%B8%D0%B8/%D0%9B%D0%9A%203.5%20%D0%9A%D0%BE%D0%BB%D0%BB%D0%B5%D0%BA%D1%86%D0%B8%D0%B8.%20%D0%92%D1%8B%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D1%8F-%D0%B3%D0%B5%D0%BD%D0%B5%D1%80%D0%B0%D1%82%D0%BE%D1%80%D1%8B%2C%20%D0%B3%D0%B5%D0%BD%D0%B5%D1%80%D0%B0%D1%82%D0%BE%D1%80%D1%8B%20%D1%81%D0%BF%D0%B8%D1%81%D0%BA%D0%BE%D0%B2%2C%20%D0%BC%D0%BD%D0%BE%D0%B6%D0%B5%D1%81%D1%82%D0%B2%20%D0%B8%20%D1%81%D0%BB%D0%BE%D0%B2%D0%B0%D1%80%D0%B5%D0%B9.ipynb">
            Коллекции. Выражения-генераторы, генераторы списков, множеств и словарей</a></h3>

    <h2>Лекция 4. Функции.</h2>
    <h3>
        <a href="https://github.com/Ratven666/Applied_Informatics_2022/blob/master/%D0%9B%D0%B5%D0%BA%D1%86%D0%B8%D0%B8/%D0%9B%D0%9A%204.%20%D0%A4%D1%83%D0%BD%D0%BA%D1%86%D0%B8%D0%B8.ipynb">
            Функции</a></h3>

    <h2>Лекция 5. Lambda функции. Генераторы. Декораторы. Аннотации.</h2>
    <h3>
        <a href="https://github.com/Ratven666/Applied_Informatics_2022/blob/master/%D0%9B%D0%B5%D0%BA%D1%86%D0%B8%D0%B8/%D0%9B%D0%9A%205.%20Lambda%20%D1%84%D1%83%D0%BD%D0%BA%D1%86%D0%B8%D0%B8%2C%20%D0%B3%D0%B5%D0%BD%D0%B5%D1%80%D0%B0%D1%82%D0%BE%D1%80%D1%8B%2C%20%D0%B4%D0%B5%D0%BA%D0%BE%D1%80%D0%B0%D1%82%D0%BE%D1%80%D1%8B%2C%20%D0%B0%D0%BD%D0%BD%D0%BE%D1%82%D0%B0%D1%86%D0%B8%D0%B8.ipynb">
            Lambda функции, генераторы, декораторы, аннотации</a></h3>

    <h2>Лекция 6. ООП.</h2>
    <h3>
        <a href="https://github.com/Ratven666/Applied_Informatics_2022/blob/master/%D0%9B%D0%B5%D0%BA%D1%86%D0%B8%D0%B8/%D0%9B%D0%9A%206.%20%D0%9E%D0%9E%D0%9F.ipynb">
            ООП</a></h3>

    <h2>Лекция 7. ООП. SOLID. Магические методы.</h2>
    <h3>
        <a href="https://github.com/Ratven666/Applied_Informatics_2022/blob/master/%D0%9B%D0%B5%D0%BA%D1%86%D0%B8%D0%B8/%D0%9B%D0%9A%207.1.%20%D0%9E%D0%9E%D0%9F_2.ipynb">
            ООП_2. SOLID</a></h3>
    <h3>
        <a href="https://github.com/Ratven666/Applied_Informatics_2022/blob/master/%D0%9B%D0%B5%D0%BA%D1%86%D0%B8%D0%B8/%D0%9B%D0%9A%207.2.%20%D0%9E%D0%9E%D0%9F_3.%20%D0%9C%D0%B0%D0%B3%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B5%20%D0%BC%D0%B5%D1%82%D0%BE%D0%B4%D1%8B.ipynb">
            Магические методы</a></h3>
    <h2>Лекция 8. Храненние данных.</h2>
    <h3>
        <a href="https://github.com/Ratven666/Applied_Informatics_2022/blob/master/%D0%9B%D0%B5%D0%BA%D1%86%D0%B8%D0%B8/%D0%9B%D0%9A%208%20%D0%A5%D1%80%D0%B0%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85/%D0%9B%D0%9A%208.1.%20%D0%A5%D1%80%D0%B0%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85.ipynb">
            Хранение данных</a></h3>

    <h2>Лекция 9. SQL.</h2>
    <h3>
        <a href="https://github.com/Ratven666/Applied_Informatics_2022/tree/master/%D0%9B%D0%B5%D0%BA%D1%86%D0%B8%D0%B8/%D0%9B%D0%9A%209%20SQL/Base%20SQL">
            Base SQL</a></h3>
    <h3>
        <a href="https://github.com/Ratven666/Applied_Informatics_2022/blob/master/%D0%9B%D0%B5%D0%BA%D1%86%D0%B8%D0%B8/%D0%9B%D0%9A%209%20SQL/%D0%9B%D0%9A%209%20SQLAlchemy.ipynb">
            SQLAlchemy</a></h3>
</div>